.form-wrapper {
    background-color: pink;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;

    width: 90%;
    max-width: 500px;
    margin-inline: auto;
    margin-top: 20px;
    padding: 10px;
    border-radius: 20px;
    display: flex;
}

form {
    display: flex;
    flex-direction: column;
}

.cuisines-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-items: center;
}

.radio-btn-wrapper {
    margin: 3px;
}

.radio-btn-wrapper label {
    margin: 3px;
}

.categories-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-items: center;
}

.checkbox-wrapper {
    margin: 3px;
}

.checkbox-wrapper label {
    margin: 3px;
}