* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dish-wrapper {
    width: 250px;
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px;
}

.description-wrapper {
    height: 300px;
    overflow: hidden;
    display: flex;
    flex-flow: column nowrap;
}

.image-wrapper {
    width: 99%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.image-wrapper img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 20px;
}

.dish-price {
    align-self: flex-end;
    margin-inline: 4px;
}

h1 {
    font-size: 1.0rem;
}

h2 {
    font-size: 0.9rem;
}

h3 {
    font-size: 0.8rem;
    margin-bottom: 3px;
}

p {
    font-size: 0.8rem;
    margin-bottom: 3px;
}

.isCheapest{
    border: 3px solid rgb(51, 153, 83);
}

.isMostExpensive {
    border: 3px solid rgb(153, 58, 51);
}

.isSmallNumberOfItems {
    background-color: palevioletred;
}

.isSoldOut {
    background-color: rgb(121, 100, 107);
}