<div class="dish-wrapper" [ngClass]="{isMostExpensive: dish.id == 1, isCheapest: dish.id == 0, isSoldOut: dish.maxNumber == 0, isSmallNumberOfItems: dish.maxNumber <=5 && dish.maxNumber > 0}" >
  <div class="description-wrapper">
    <h1>{{ dish.name | uppercase }}</h1>
    <h2 class="dish-price">{{ dish.price }}$</h2>
    <h3>{{ dish.cuisine | uppercase }}</h3>
    <p>Available: {{ dish.maxNumber }}</p>
    <p>{{ dish.description }}</p>
  </div>
  <div class="image-wrapper">
    <img [src]="dish.photos[0]" alt="" />
  </div>
  <app-reservation-changer (valueChanged)="handleButtonClick($event)" [maxValue]="dish.maxNumber"></app-reservation-changer>
</div>
